#### object serialization

In [1]:
import pickle as p

In [3]:
d = {'name':'A', 'age':25,'dept':'IT'}

In [4]:
s_d = p.dumps(d)
type(s_d)

bytes

In [5]:
f = open('ser.pickle','wb')
f.write(s_d)
f.close()

In [6]:
f = open('ser.pickle','rb')
data = p.load(f)
print(data)

{'name': 'A', 'age': 25, 'dept': 'IT'}

In [7]:
class User:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [8]:
u = User("max", 25)

In [10]:
s_u = p.dumps(u)
type(s_u), print(s_u)

b'\x80\x04\x952\x00\x00\x00\x00\x00\x00\x00\x8c\x08__main__\x94\x8c\x04User\x94\x93\x94)\x81\x94}\x94(\x8c\x04name\x94\x8c\x03max\x94\x8c\x03age\x94K\x19ub.'

(bytes, None)

In [20]:
data = p.loads(s_u)
print(data.name)

max

In [14]:
def my_fun():
    print("hello")
s_f = p.dumps(my_fun)

In [15]:
d_f = p.loads(s_f)
d_f()

hello

### pandas

In [21]:
import pandas as pd

In [26]:
df = pd.DataFrame({
    "names":["max","john"],
    "age": [23,32]
})
df

  names  age
0   max   23
1  john   32

In [27]:
df.to_pickle("df.pkl")

In [28]:
data = pd.read_pickle('df.pkl')
print(data)

  names  age
0   max   23
1  john   32